absl-py==1.2.0
academictorrents==2.3.3
adal==1.2.7
alabaster==0.7.12
amlt==8.3.2.post2
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
appdirs==1.4.4
applicationinsights==0.11.10
argh==0.26.2
argon2-cffi==20.1.0
asn1crypto==1.4.0
astroid==2.4.2
astropy==4.0.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
azure-common==1.1.27
azure-core==1.21.1
azure-data-tables==12.0.0b6
azure-graphrbac==0.61.1
azure-identity==1.7.0
azure-mgmt-authorization==0.61.0
azure-mgmt-containerregistry==8.2.0
azure-mgmt-core==1.3.0
azure-mgmt-keyvault==9.3.0
azure-mgmt-resource==13.0.0
azure-mgmt-storage==11.2.0
azure-storage-blob==12.5.0
azureml-automl-core==1.36.1
azureml-contrib-k8s==0.1.17
azureml-contrib-pipeline-steps==1.33.0
azureml-core==1.36.0.post2
azureml-dataprep==2.24.4
azureml-dataprep-native==38.0.0
azureml-dataprep-rslex==2.0.3
azureml-dataset-runtime==1.36.0
azureml-k8s-mt==1.0.5
azureml-pipeline==1.36.0
azureml-pipeline-core==1.36.0
azureml-pipeline-steps==1.36.0
azureml-sdk==1.36.0
azureml-telemetry==1.36.0
azureml-train-automl-client==1.36.0
azureml-train-core==1.36.0
azureml-train-restclients-hyperdrive==1.36.0
Babel==2.8.1
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
bencode.py==2.0.0
bitarray==1.6.1
bitstring==3.1.5
bkcharts==0.2
bleach==3.2.1
bokeh==2.2.3
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-completion==0.5.2.post3
click-option-group==0.5.3
click-plugins==1.1.1
clip==1.0
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.4.4
colorlog==6.6.0
conda==4.13.0
conda-build==3.20.5
conda-pack==0.6.0
conda-package-handling==1.7.2
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography==41.0.2
cvxopt==1.2.7
cvxpy==1.1.17
cycler==0.10.0
Cython==0.29.21
cytoolz==0.11.0
dask==2.30.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
distributed==2.30.1
distro==1.6.0
docker==4.4.4
docker-pycreds==0.4.0
docutils==0.16
dotnetcore2==2.1.22
ecdsa==0.17.0
ecos==2.0.7.post1
einops==0.4.1
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Executor==0.10.0
Flask-FontAwesome==0.1.5
fsspec==0.8.3
ftfy==6.1.1
fusepy==3.0.1
future==0.16.0
gdown==4.2.0
gensim==4.0.1
gevent==20.9.0
gitdb==4.0.9
GitPython==3.1.24
glob2==0.7
gmpy2==2.0.8
google-auth==2.11.1
google-auth-oauthlib==0.4.6
greenlet==0.4.17
grpcio==1.49.1
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.1
huggingface-hub==0.7.0
humanize==3.13.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.12.0
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
jeepney==0.5.0
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
json5==0.9.5
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
keyring==21.4.0
kiwisolver==1.3.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
littleutils==0.2.2
llvmlite==0.34.0
locket==0.2.0
lxml==4.6.1
Mako==1.1.6
Markdown==3.4.1
MarkupSafe==1.1.1
marshmallow==3.10.0
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.6.0
mpmath==1.1.0
msal==1.16.0
msal-extensions==0.3.1
msgpack==1.0.0
msrest==0.6.19
msrestazure==0.6.4
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
ndg-httpsclient==0.5.1
nest-asyncio==1.4.2
networkx==2.5
nltk==3.5
nose==1.3.7
notebook==6.1.4
ntlm-auth==1.5.0
numba==0.51.2
numexpr==2.7.1
numpy==1.19.2
numpydoc==1.1.0
oauthlib==3.1.1
ogb==1.3.5
olefile==0.46
opencv-python==4.5.4.60
openpyxl==3.0.5
osqp==0.6.2.post0
outdated==0.2.1
packaging==21.3
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.0
partd==1.1.0
passpy==1.0.2
path==15.0.0
pathlib2==2.3.5
pathspec==0.9.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
petname==2.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pip==20.2.4
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
portalocker==1.7.1
pretty-errors==1.2.25
prettytable==2.4.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.19.5
psutil==5.7.2
ptyprocess==0.6.0
py==1.9.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.6
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.2
PyJWT==2.3.0
pylint==2.6.0
pyodbc==4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
PyPubSub==3.3.0
pyrsistent==0.17.3
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
python-gnupg==0.4.8
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pytz==2021.3
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
qdldl==0.1.5.post0
QtAwesome==1.0.1
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.10.15
requests==2.25.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==4.9
Rtree==0.9.4
ruamel-yaml==0.15.87
sacremoses==0.0.53
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.7.3
scs==2.1.4
seaborn==0.11.0
SecretStorage==3.1.2
Send2Trash==1.5.0
sentry-sdk==1.16.0
setproctitle==1.3.2
setuptools==50.3.1.post20201107
shellingham==1.4.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.13
six==1.15.0
smart-open==6.0.0
smmap==5.0.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
spyder==4.1.5
spyder-kernels==1.9.4
SQLAlchemy==1.3.20
sshpubkeys==3.3.1
statsmodels==0.12.0
sympy==1.6.2
tables==3.6.1
tabulate==0.8.9
tblib==1.7.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
timm==0.4.12
tokenizers==0.10.3
toml==0.10.1
toolz==0.11.1
torch==1.10.1+cu111
torchaudio==0.10.1+rocm4.1
torchsummary==1.5.1
torchvision==0.11.2+cu111
tornado==6.0.4
tqdm==4.62.3
traitlets==5.0.5
transformers==4.13.0.dev0
typing-extensions==3.7.4.3
ujson==4.0.1
unicodecsv==0.14.1
urllib3==1.26.14
wandb==0.13.10
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wilds==2.0.0
wrapt==1.11.2
wurlitzer==2.0.1
xdg==5.1.1
xlrd==1.2.0
XlsxWriter==1.3.7
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.30.0
you-get==0.4.1555
zict==2.0.0
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.1.2
